<!DOCTYPE html>
<html>
<title>Marks Analysis</title>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
  <script type="text/javascript">
    f1(){
    }
    f2(){
    }
  </script>
</head>
<body>

<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large"
  onclick="w3_close()">Close &times;</button>

 
  <div class="w3-card w3-animate-top w3-center w3-button w3-block" onclick="window.open('http://127.0.0.1:8000/dashboard', '_self')">
    <i class="fa fa-book" style="font-size:36px"></i>
    <br>
    <label>Dashboard</label>
  </div>
  
  <div class="w3-card w3-animate-top w3-center w3-button w3-block" onclick="window.open('http://127.0.0.1:8000/discussion', '_self')">
    <i class="fa fa-comments" style="font-size:36px"></i>
    <br>
    <label>Discussion</label>
  </div>
  
  <div class="w3-card w3-animate-top w3-center w3-button w3-block" onclick="window.open('http://127.0.0.1:8000/marks', '_self')">
    <i class="fa fa-bar-chart" style="font-size:36px"></i>
  <br>
    <label>Marks Analysis</label>
  </div>
  <div class="w3-card w3-animate-top w3-center w3-button w3-block" onclick="window.open('http://127.0.0.1:8000/feedback', '_self')">
    <i class="fa fa-star" style="font-size:36px"></i>
    <br>
    <label>Feedback</label>
  </div>
  <div class="w3-card w3-animate-top w3-center w3-button w3-block" onclick="window.open('http://127.0.0.1:8000/schedule', '_self')">
    <i class="fa fa-users" style="font-size:36px"></i>
    <br>
    <label>Interaction Schedule</label>
  </div>
  <div class="w3-card w3-animate-top w3-center w3-button w3-block" onclick="window.open('http://127.0.0.1:8000/quiz', '_self')">
  <i class="fa fa-pencil" style="font-size:36px"></i>
  <br>
  <label>Quiz</label>
  </div>
  <div class="w3-card w3-animate-top w3-center w3-button w3-block" onclick="window.open('http://127.0.0.1:8000/', '_self')">
  <i class="fa fa-power-off" style="font-size:36px"></i>
  <br>
  <label>Sign Out</label>
  </div>
  <br>

</div>

<div id="main">

<div class="w3-blue w3-top">
  <div class="w3-container w3-display-top">
    <button id="openNav" class="w3-button w3-hover-blue w3-xxlarge" onclick="w3_open()">&#9776;</button>
    <div class="w3-display-topmiddle">
      <h1>Marks Analysis</h1>
    </div>
    <br>
  </div>
</div>
<br><br><br>
<center><div class="w3-container w3-center" style="width: 60%">
  <br><br>
  {% for i in dict1 %}
  <div name='{{i.0}}' class="w3-card-4 w3-animate-top  w3-block">
    <div class="w3-container w3-center">
      <h1> Course: {{i.0}}</h1>
      <h2> Midsem: {{i.1}}</h2>
      <h2> Compre: {{i.2}}</h2>
    </div>
  </div>
  <br>
  {% endfor %}
  
  <br><br>
</div>
</center>

</body>
<script>
function w3_open() {
  document.getElementById("main").style.marginLeft = "25%";
  document.getElementById("mySidebar").style.width = "25%";
  document.getElementById("mySidebar").style.display = "block";
  // document.getElementById("openNav").style.display = 'none';
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
</script>

</html>